@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&display=swap');

:root{

    --cor1: #03A678;
    --cor2: #02735E;
    --cor3: #014040;
    --cor4: #F27405;
    --cor5: #731702;
    
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor3);
    font: normal 1em 'Kanit', sans-serif; 
    
}

header{
   color: var(--cor4);
   margin-top: 10px;
   text-align: center;
}


section{

   background-color: var(--cor1);
   width: 500px;
   margin: auto;
   margin-top: 50px;
   border-radius: 10px;
   padding: 15px;
   color: var(--cor5);
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

}

div{
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

input[type="radio"] {

    -webkit-appearance: none; /* Remove o estilo padrão do navegador */
    -moz-appearance: none;
    appearance: none;
    width: 12px; /* Define o tamanho do círculo */
    height: 12px;
    border: 2px solid #ccc; /* Define a borda do círculo */
    border-radius: 50%; /* Torna o círculo redondo */
    outline: none; /* Remove a borda de foco padrão do navegador */
    cursor: pointer; /* Muda o cursor do mouse ao passar sobre o círculo */
    margin-left: 15px; /* Define o espaçamento entre o círculo e o texto */
    margin-right: 5px;

  }

input[type="radio"]:checked {
    background-color:  rgb(238, 80, 23);/* Define a cor de fundo do círculo quando selecionado */
  }


#btn{

    background-color: var(--cor4);
    width: 100px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--cor5);

}

#btn:hover{ 
    background-color: rgb(238, 80, 23);
}

#btn:active{
    text-decoration: underline;
}

footer{

    color: var(--cor4);
    margin-top: 25px;
    text-align: center;
    font-style: italic;
    
}
